/* index file css */
*{
    box-sizing: border-box;
    font-family: 'Montserrat',Roboto,sans-serif;
}
body{
    margin: 0;
    padding: 0;
    background-color: rgb(241, 247, 252);
}

header{
    background-color: rgb(29, 115, 252);
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
    box-shadow: 0px 0px 5px 0px;
}

header h2{
    padding: 0.5rem;
    border-radius: 0.2rem;
    margin-left: 0.3125rem;
    background-color:rgb(163, 199, 255);
}

#mainNav{
    display: flex;
    align-items: center;
}

#mainNav a{
    font-size: 1.35rem;
    margin: 0px 0.3125rem 0px 1.25rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    text-decoration: none;
    color: black;
    background-color:rgb(163, 199, 255) ;
}

#mainNav a:hover{
    background-color: rgb(242, 247, 252);
    transition: 0.3s ease-in-out;
}

#aboutSection{
    width: auto;
    height: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#aboutButton{
    position: relative;
    background-color: rgb(163, 199, 255);
    border: 2px solid black;
    font-size: 1.35rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    display: block;
    cursor: pointer;
}

#aboutButton:hover{
    background-color: aliceblue;
    transition: 0.3s ease-in-out;
}

#about p{
    display: none;
    background-color: rgb(163, 199, 255);
    margin: 0px 3rem 0px 3rem;
    border-radius: 0.2rem;
    padding: 0.5rem;
    word-spacing: 0.2rem;
    box-shadow: 0px 0px 5px 0px;
}

#closeButton{
    margin:1.5rem auto 1.5rem auto;
    background-color: rgb(163, 199, 255);
    width:fit-content;
    font-size: 1.35rem;
    padding: 0.5rem;
    border-radius: 0.2rem;
    display: none;
    cursor: pointer;
    border: 2px solid black;
}

#closeButton:hover{
    transition: 0.3s ease-in-out;
    background-color: aliceblue;
}
#projectSection h2{
    text-align: center;
    text-decoration: underline;
}

#projects{
    display: flex;
    justify-content: space-around;
}
#project1,#project2,#project3{
    background-color: white;
    padding: 0.5rem;
    font-size: 1.35rem;
    width: 20rem;
    height: 20rem;
    border: 3px solid rgb(163, 199, 255);
    text-align: center;
}

.projectInfo{
    text-align: center;
}

#skillsTitle{
    text-align: center;
    text-decoration: underline;
}

#skillsSection{
    display: flex;
    justify-content: space-around;
}

#skillsSection ul li{
    display: inline-block;
    margin-right: 2rem;
}

#skillsSection ul li img{
    width: 2.5rem;
    height: 2.5rem;
    
}

/* css for mobile viewing - main page */

@media only screen and (max-width:480px){
    header{
        display: block;
        background-color: aliceblue;
        box-shadow: none;
    }
    header h2{
        margin: 0;
        text-align: center;
        border-radius: 0;
    }
    #mainNav{
        flex-direction: column;
    }
    #mainNav a{
        width: 100%;
        text-align: center;
        margin: 0;
        border-radius: 0;
        border-top: 1px solid rgb(29, 115, 252);
    }
    #aboutSection{
        display:contents;
        position: relative;
    }
    #aboutButton{
        display: block;
        text-align: center;
        width: fit-content;
        margin: 3rem auto 3rem auto;
    }
    #about p{
        margin: 2rem 1rem;
        position: relative;
    }

    #closeButton{
        margin-bottom: 4rem;
        position: relative;
    }
    #projects{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #project1, #project2, #project3 {
        margin: 1.5rem 0rem;
    }

    #skillsSection {
        margin: 0 auto;
    }

}

/* contact file css */

#mainSectionContacts{
    margin-left: 0.3125rem;
}

#mainSectionContacts h1{
    text-decoration: underline;
}

#mainSectionContacts li{
   list-style: none;
   display: inline-block;
}

#mainSectionContacts img{
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 1.75rem;
}

/* css for mobile viewing - contact page */

@media only screen and (max-width: 480px) {
    #mainSectionContacts {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
