.about-main-div {
  display: flex;
  flex-direction: column;
  background-color: #254e58;
  height: 100vh;
  justify-content: center;
  align-items: center;
  color: #def2f1;
}
.about-title-div {
  width: 55vw;
}

.about-div {
  margin-top: 1vh;
  height: fit-content;
  width: 55vw;
}

.about-div p {
  font-size: 1.1rem;
  font-weight: 300;
}

.div-ref {
  visibility: hidden;
  border: 1px solid white;
  width: 100%;
  position: absolute;
  bottom: -95vh;
}

.skill-section {
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 5vh;
}

.skill-section img {
  height: 7vh;
}

.skill-section div:last-child img {
  position: relative;
  top: 0.75px;
  border: 1px solid white;
  border-radius: 7px;
  height: 6.6vh;
}

.logo-div p {
  position: absolute;
  text-align: center;
}

@media only screen and (max-width: 320px) {
  .about-title-div,
  .about-div {
    width: 85vw;
  }
  .about-title-div h2 {
    font-size: 1.25rem;
  }
  .about-div p {
    font-size: 0.85rem;
  }
}

@media only screen and (max-width: 850px ) {
  .skill-section {
    padding: 1vh;
    overflow: scroll;
    height: 12vh;
  } 

  .skill-section .logo-div {
    margin: 0px 1vw;
  }
}

@media only screen and (min-width: 321px) and (max-width: 425px) {
  .about-title-div,
  .about-div {
    width: 80vw;
  }
  .about-title-div h2 {
    font-size: 1.5rem;
  }
  .about-div p {
    font-size: 0.9rem;
  }


}
